ul
  li('*ngFor'='let item of education')
    div('[innerText]'='item.education_order')
    span  - 
    div('[innerText]'='item.education_degree')
    span  - 
    div('[innerText]'='item.education_field')
    span  - 
    div('[innerText]'='item.education_cgpa')
    span  - 
    div('[innerText]'='item.school_name')
    span  - 
    div('[innerText]'='item.school_link')
    span  - 
    div('[innerText]'='item.school_logo')
    span  - 
    div('[innerText]'='item.education_start_date')
    span  - 
    div('[innerText]'='item.education_end_date')
    span  - 
    div('[innerText]'='item.education_modified_at')
    span  - 
    div('[innerText]'='item.school_modified_at')
