<ul>
  <li *ngFor="let item of education">
    <div [innerText]="item.education_order"></div>
    <span> - </span>
    <div [innerText]="item.education_degree"></div>
    <span> - </span>
    <div [innerText]="item.education_field"></div>
    <span> - </span>
    <div [innerText]="item.education_cgpa"></div>
    <span> - </span>
    <div [innerText]="item.school_name"></div>
    <span> - </span>
    <div [innerText]="item.school_link"></div>
    <span> - </span>
    <div [innerText]="item.school_logo"></div>
    <span> - </span>
    <div [innerText]="item.education_start_date"></div>
    <span> - </span>
    <div [innerText]="item.education_end_date"></div>
    <span> - </span>
    <div [innerText]="item.education_modified_at"></div>
    <span> - </span>
    <div [innerText]="item.school_modified_at"></div>
  </li>
</ul>
