ul
  li('*ngFor'='let item of version')
    div('[innerText]'='item.version_name')
    span  - 
    div('[innerText]'='item.version_link')
    span  - 
    div('[innerText]'='item.version_image')
    span  - 
    div('[innerText]'='item.version_order')
    span  - 
    div('[innerText]'='item.version_modified_at')
