div
  span('[innerText]'='skillGroup.skill_group_id')
  span  - 
  span('[innerText]'='skillGroup.skill_group_name')
  span  - 
  span('[innerText]'='skillGroup.skill_group_order')
  span  - 
  span('[innerText]'='skillGroup.skill_group_modified_at')
