ul
  li('*ngFor'='let item of experience')
    div('[innerText]'='item.experience_order')
    span  - 
    div('[innerText]'='item.experience_description')
    span  - 
    div('[innerText]'='item.position_title')
    span  - 
    div('[innerText]'='item.company_name')
    span  - 
    div('[innerText]'='item.company_link')
    span  - 
    div('[innerText]'='item.company_logo')
    span  - 
    div('[innerText]'='item.company_description')
    span  - 
    div('[innerText]'='item.experience_start_date')
    span  - 
    div('[innerText]'='item.experience_end_date')
    span  - 
    div('[innerText]'='item.experience_modified_at')
    span  - 
    div('[innerText]'='item.company_modified_at')
    span  - 
    div('[innerText]'='item.position_modified_at')
