//- Container for the prompt update.
//- Only displayed when an update is available
//-  and the close update override is not set.
//- When available wrap the content in a smooth animation.
div(
  'class'='prompt-update-wrapper',
  '*ngIf'='updateAvailable && !closeUpdate',
  '[@openClose]'
)
  //- Space the content from the edges
  div('class'='prompt-update-spacing')
    //- Prompt Update Content
    div('class'='prompt-update-content')
      //- Promt Update Message container.
      div('class'='prompt-update-message')
        span Update Available! Please Reload! 😀
      //- Promt Update Action container.
      div('class'='prompt-update-action')
        button(
          'role'='button',
          'class'='prompt-update-button',
          '(click)'='reload();'
        ) Reload
