ul
  li('*ngFor'='let item of skill')
    app-skill-group-component('[_skillGroup]'='item.skill_group')
    ul
      li('*ngFor'='let skill_item of item.skill_item')
        app-skill-item-component('[_skillItem]'='skill_item')
