div
  span('[innerText]'='skillItem.skill_item_id')
  span  - 
  span('[innerText]'='skillItem.skill_item_name')
  span  - 
  span('[innerText]'='skillItem.skill_item_order')
  span  - 
  span('[innerText]'='skillItem.skill_item_skill_group_id')
  span  - 
  span('[innerText]'='skillItem.skill_item_modified_at')
